<mat-card>
    <mat-card-header>
        <mat-card-title>{{ noticia.titulo }}</mat-card-title>
        <mat-card-subtitle>publicado por: {{ noticia.usuario.nombreusuario }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]=" noticia | noticiaImagen " [alt]="noticia.titulo">

    <mat-card-content class="mt-2">
        <h4>{{ noticia.titulo }}</h4>
        <span>Fecha publicación {{ noticia.fechahorapublicacion}} </span>
        <p>{{ noticia.descripcion }}</p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
        <span class="spacer"></span>
        <button 
            mat-button 
            mat-raised 
            color="info"
            [routerLink]="['/noticias/noticia', noticia.idnota]"
        >
            <mat-icon>edit</mat-icon>
            Ver noticia
        </button>

        <span class="spacer"></span>
    </mat-card-actions>
</mat-card>
